<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Hello world</h1>
    <table>
        <tr>
            <th>№</th>
            {% for column in columns %}
                <th>{{ column }}</th>
            {% endfor %}
        </tr>
        {% for k, v in table.items %}
            <tr>
            <td>{{ k }}</td>
            {% for content in v.values %}
                <td>{{ content }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>