{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Pedant</title>
</head>
<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Jura:wght@300..700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'main.css' %}">
<body>
    <div id="root"></div>
</body>
<style>
    .grid {
        grid-template-columns: repeat({{ columns|length }}, fit-content(400px));
    }
</style>
<script type="text/babel">
    const { useState, useEffect } = React;
    
    const csrf_token = {% csrf_token %}</input>
    
    const DialogState = {
        NO_DIALOG: 1,
        ERROR_DIALOG: 2,
        CORRECT_DIALOG: 3
    };
    
    const onSuccess = (index, category, newValue, setDialogState, setError) => {
        fetch('http://localhost:8000/update-value/', {
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json', 
              'X-CSRFToken': csrf_token.props.value
          },
          body: JSON.stringify({
            id: Number(index),
            column: category,
            new_value: newValue
          })
        }).then(response => {
            const data = response.body;
            if (data.valid) {
                const element = document.getElementById(index+'-'+category);
                element.innerText = newValue;
                element.classList += ' corrected-error';
                setDialogState(DialogState.NO_DIALOG);
            } else {
                setError(data.report.reason);
            }
        });
    };

    const DialogCorrect = ({setDialogState, index, category, position}) => {
        const [inputValue, setInputValue] = useState(document.getElementById(index+'-'+category).innerText);
        const [error, setError] = useState('');
        return (
            <div className="dialog-container">
                <div style={position} className="dialog">
                    <div className="dialog-text-container">
                        <textarea className="main-font" name="" placeholder="Введите правки" value={inputValue} onChange={e => setInputValue(e.target.value)}></textarea>
                    </div>
                    <span>{ error }</span>
                    <div className="dialog-buttons-container">
                        <div className="dialog-buttons-row">
                            <button onClick={_ => onSuccess(index, category, inputValue, setDialogState, setError)} className="btn green-button main-font">Исправить</button>
                        </div>
                        <div className="dialog-buttons-row">
                            <button onClick={_ => setDialogState(DialogState.ERROR_DIALOG)} className="btn red-button main-font">Вернуться назад</button>
                        </div>
                    </div>
                </div>
            </div>
        );
    }

    const DialogError = ({setDialogState, correctMessage, errorMessage, index, category, position}) => {
        const toCorrectDialog = () => {
            setDialogState(DialogState.CORRECT_DIALOG);
        };
        const [error, setError] = useState('');
        return (
            <div className="dialog-container">
                <div style={position} className="dialog">
                    <div className="dialog-text-container">
                        <p className="error-message">Ошибка</p>
                        <p className="error-text">{ errorMessage }</p>
                        { correctMessage !== '' ? 
                        <div>
                            <p className="pt-30 error-message">Предложение</p>
                            <p className="error-text corrected">{ correctMessage }</p>
                        </div> : null
                        }
                    </div>
                    <span>{ error }</span>
                    <div className="dialog-buttons-container">
                        { correctMessage !== '' ? 
                        <div className="dialog-buttons-row">
                            <button onClick={_ => onSuccess(index, category, correctMessage, setDialogState, setError)} className="btn green-button main-font">Принять</button>
                            <button onClick={_ => setDialogState(DialogState.NO_DIALOG)} className="btn red-button main-font no-margin-left">Пропустить</button>
                        </div> : null
                        }
                        <div className="dialog-buttons-row">
                            <button onClick={toCorrectDialog} className="btn white-button main-font">Исправить вручную</button>
                        </div>
                    </div>
                </div>
            </div>
        );
    }
    
    const RowElement = ({className, extraClasses, advice, errorMessage, text, onClick, index, category, style}) => {
        const onElemClick = () => {
            onClick(advice, errorMessage, index, category);
        }
        return (
            <div style={style} id={index+'-'+category} className={className + ' ' + extraClasses} onClick={onElemClick}>{ text }</div>
        );
    }

    const Table = ({onClick}) => {
        return (
            <div className="grid">
                {% for column in columns %}
                    <div className="grid-el-oval">{{ column }}</div>
                {% endfor %}
                {% for row in table %}
                    {% for el in row %}
                        <RowElement
                        {% if forloop.counter == 1 %}
                            className="grid-el-oval"
                        {% elif forloop.counter == 2 %}
                            className="grid-el-start-row"
                        {% elif forloop.counter == columns|length %}
                            className="grid-el-end-row"
                        {% else %}
                            className="grid-el-rect"
                        {% endif %}
                        {% if forloop.counter != 1 and 'type' in el.keys %}
                            onClick={onClick}
                            {% if el.type == 'technical' %}
                                extraClasses="error-cell"
                            {% else %}
                                extraClasses="warning-cell"
                            {% endif %}
                        {% endif %}
                        advice="{{ el.advice }}"
                        errorMessage="{{ el.reason }}"
                        text="{% if forloop.counter == 1 %}{{ el }}{% else %}{{ el.value }}{% endif %}"
                        index="{{ row.0 }}" category="{{ forloop.counter }}"/>
                    {% endfor %}
                {% endfor %}
            </div>
        );
    }
    
    let scrolledX = 0, scrolledY = 0;

    const App = () => {
        useEffect(() => {
            window.scrollTo(scrolledX, scrolledY);
        });
        const [dialogState, setDialogState] = useState(DialogState.NO_DIALOG);
        const [correctMessage, setCorrectMessage] = useState('');
        const [errorMessage, setErrorMessage] = useState('');
        const [index, setIndex] = useState(-1);
        const [category, setCategory] = useState(-1);
        const onElemClick = (offer, error, index, category) => {
            if (DialogState.NO_DIALOG === dialogState && !document.getElementById(index+'-'+category).classList.contains("corrected-error")) {
                scrolledX = window.scrollX;
                scrolledY = window.scrollY;
                setDialogState(DialogState.ERROR_DIALOG);
                setCorrectMessage(offer);
                setErrorMessage(error);
                setIndex(index);
                setCategory(category);
            }
        };
        let positionDarkened;
        let positionDialog;
        if (dialogState === DialogState.CORRECT_DIALOG) {
            positionDialog = {
                top: scrolledY + 120,
                left: scrolledX,
                right: 0
            };
            positionDarkened = {
                top: -scrolledY,
                left: -scrolledX
            };
        } else {
            if (scrolledX > 0 || scrolledY > 0) {
                positionDialog = {
                    top: scrolledY + 120,
                    left: scrolledX,
                    right: 0
                };
                positionDarkened = {
                    top: -scrolledY,
                    left: -scrolledX
                };
            } else {
                positionDialog = {
                    top: window.scrollY + 120,
                    left: window.scrollX,
                    right: 0
                };
                positionDarkened = {
                    top: -window.scrollY,
                    left: -window.scrollX
                };
            }
        }
        const emptyClick = () => {
            if (dialogState !== DialogState.NO_DIALOG) {
                setDialogState(DialogState.NO_DIALOG)
            }
        };
        return (
            <div style={ positionDarkened } className={dialogState !== DialogState.NO_DIALOG ? "darkened" : ''}>
                <header>
                    <div><img src="{% static 'logo.png' %}" alt="Logo"/></div>
                    <div className="logo-text">PEDANT</div>
                    <div className="help">помощь</div>
                </header>
                {% if table|length == 0 %}
                <div className="content">
                    <h3 className="loading">Загрузка...</h3>
                </div>
                {% else %}
                <div className="content" onClick={emptyClick}>
                    <Table onClick={onElemClick}/>
                </div>
                {dialogState === DialogState.ERROR_DIALOG ? <DialogError position={ positionDialog } setDialogState={setDialogState} correctMessage={correctMessage} errorMessage={errorMessage} index={index} category={category}/> : ''}
                {dialogState === DialogState.CORRECT_DIALOG ? <DialogCorrect position={ positionDialog } setDialogState={setDialogState} index={index} category={category}/> : ''}
                <footer>
                    <form method="post">{csrf_token}
                        <button type="submit" className="btn green-button main-font">Далее</button>
                    </form>
                </footer>
                {% endif %}
            </div>
        );
    }

    ReactDOM.render(
      <App/>,
      document.getElementById('root')
    );
</script>
</html>