{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Pedant</title>
</head>
<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Jura:wght@300..700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'main.css' %}">
<body>
    <div id="root"></div>
</body>
<style>
    .grid {
        grid-template-columns: repeat({{ columns|length }}, fit-content(400px));
    }
</style>
<script type="text/babel">
    const { useState } = React;

    const DialogState = {
        NO_DIALOG: 1,
        ERROR_DIALOG: 2,
        CORRECT_DIALOG: 3
    };

    const DialogCorrect = ({setDialogState, index, category}) => {
        const [inputValue, setInputValue] = useState(document.getElementById(index+'-'+category).innerText);
        const onSuccess = () => {
            document.getElementById(index+'-'+category).innerText = inputValue;
            setDialogState(DialogState.NO_DIALOG);
        };
        return (
            <div className="dialog-container">
                <div className="dialog">
                    <div className="dialog-text-container">
                        <textarea className="main-font" name="" placeholder="Введите правки" value={inputValue} onChange={e => setInputValue(e.target.value)}></textarea>
                    </div>
                    <div className="dialog-buttons-container">
                        <div className="dialog-buttons-row">
                            <button onClick={onSuccess} className="btn green-button main-font">Исправить</button>
                        </div>
                        <div className="dialog-buttons-row">
                            <button onClick={_ => setDialogState(DialogState.ERROR_DIALOG)} className="btn red-button main-font">Вернуться назад</button>
                        </div>
                    </div>
                </div>
            </div>
        );
    }

    const DialogError = ({setDialogState, correctMessage, errorMessage, index, category}) => {
        const onSuccess = () => {
            document.getElementById(index+'-'+category).innerText = correctMessage;
            setDialogState(DialogState.NO_DIALOG);
        };
        return (
            <div className="dialog-container">
                <div className="dialog">
                    <div className="dialog-text-container">
                        <p className="error-message">Ошибка</p>
                        <p className="error-text">{ errorMessage }</p>
                        <p className="pt-30 error-message">Исправленный вариант</p>
                        <p className="error-text">{ correctMessage }</p>
                    </div>
                    <div className="dialog-buttons-container">
                        <div className="dialog-buttons-row">
                            <button onClick={onSuccess} className="btn green-button main-font">Принять</button>
                            <button onClick={_ => setDialogState(DialogState.NO_DIALOG)} className="btn red-button main-font no-margin-left">Пропустить</button>
                        </div>
                        <div className="dialog-buttons-row">
                            <button onClick={_ => setDialogState(DialogState.CORRECT_DIALOG)} className="btn white-button main-font">Исправить вручную</button>
                        </div>
                    </div>
                </div>
            </div>
        );
    }
    
    const RowElement = ({className, text, onClick, index, category}) => {
        const onElemClick = () => {
            onClick("Оффер для " + text, 'Ну всё плохо', index, category);
        }
        return (
            <div id={index+'-'+category} className={className} onClick={onElemClick}>{ text }</div>
        );
    }

    const Table = ({onClick}) => {
        return (
            <div className="grid">
                {% for column in columns %}
                    <div className="grid-el-oval">{{ column }}</div>
                {% endfor %}
                {% for row in table %}
                    {% for el in row %}
                        <RowElement
                        {% if forloop.counter == 1 %}
                            className="grid-el-oval"
                        {% elif forloop.counter == 2 %}
                            className="grid-el-start-row"
                        {% elif forloop.counter == columns|length %}
                            className="grid-el-end-row"
                        {% else %}
                            className="grid-el-rect"
                        {% endif %}
                        text="{{ el }}" onClick={onClick} index="{{ row.0 }}" category="{{ forloop.counter }}"/>
                    {% endfor %}
                {% endfor %}
            </div>
        );
    }
    
    const Link = () => {
        return (
            <div className="link-block">
                <p className="link-marketplace">ссылка на маркетплейс</p>
                <input type="text" placeholder="ссылка"/>
                <button id="btn-download" className="btn white-button main-font">загрузить</button>
            </div>
        );
    }

    const App = () => {
        const [dialogState, setDialogState] = useState(DialogState.NO_DIALOG);
        const [correctMessage, setCorrectMessage] = useState('');
        const [errorMessage, setErrorMessage] = useState('');
        const [index, setIndex] = useState(-1);
        const [category, setCategory] = useState(-1);
        const onElemClick = (offer, error, index, category) => {
            setDialogState(DialogState.ERROR_DIALOG);
            setCorrectMessage(offer);
            setErrorMessage(error);
            setIndex(index);
            setCategory(category);
        };
        return (
            <div className={dialogState !== DialogState.NO_DIALOG ? "darkened" : ''}>
                <header>
                    <div><img src="{% static 'logo.png' %}" alt="Logo"/></div>
                    <div className="logo-text">PEDANT</div>
                    <div className="help">помощь</div>
                </header>
                <div className="content" onClick={_ => dialogState !== DialogState.NO_DIALOG ? setDialogState(DialogState.NO_DIALOG) : null}>
                    <Link/>
                    <Table onClick={onElemClick}/>
                </div>
                {dialogState === DialogState.ERROR_DIALOG ? <DialogError setDialogState={setDialogState} correctMessage={correctMessage} errorMessage={errorMessage} index={index} category={category}/> : ''}
                {dialogState === DialogState.CORRECT_DIALOG ? <DialogCorrect setDialogState={setDialogState} index={index} category={category}/> : ''}
            </div>
        );
    }

    ReactDOM.render(
      <App/>,
      document.getElementById('root')
    );
</script>
</html>